.search-section{
    background-image: url("https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/bcT8CaBIj086WVD7K529h78eujb.jpg");
    height: calc(100vh / 2.5);
    width: 80%;
    background-size: cover;
    color: #fff;
    margin-left: 10%;
    margin-right: 10%;
}